
<div  id='custom-collection-grid'>
  <h2 class="title inline-richtext h2 scroll-trigger animate--slide-in"><b>Wishlist</b></h2>
   <ul id='product-grid' class='grid product-grid grid--2-col-tablet-down js-wishlistBlock grid--3-col-desktop'>        

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        displayWishlist(); // Call displayWishlist when the wishlist page loads
    });
  </script>
   </ul>
</div>

